<div class="wrapper">
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Football Shop
    </div>
    <form [formGroup]="form" (ngSubmit)="register()" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <input id="username" formControlName="username" type="text" placeholder="Username" required>
        </div>
        <div class="form-field d-flex align-items-center">
            <input id="password" formControlName="password" type="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn mt-3">Register</button>
    </form>
</div>
